.ts-btn {
    padding: 0.25rem 0.5rem;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.5s;

    &:hover {
        // color: transparent;
        color: white;
        background-color: black;
    }
}
