.input {
    padding: 0.25rem 0.7rem;
    border: 1px solid black;
    border-radius: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgba(94, 255, 0, 0.322) inset !important;
}
