.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 90vmin;
    height: 90vmin;
    max-width: 600px;
    max-height: 600px;
    gap: 5px;
    box-sizing: border-box;
    margin: 2rem;

    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        cursor: pointer;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        color: #c4c4c4;
        box-shadow: 1px 1px 5px #000, -1px -1px 5px #6f6f6f,
            inset 1px 1px 5px #2b2b2b, inset -1px -1px 5px #424242;
        transition: all 0.1s;

        &:hover {
            background-color: #e0e0e0;
        }
    }
}
