.toast {
    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 1rem;
    margin-top: 0.5rem;
    border-radius: 20px;
    border: 1px solid black;
    animation: toast 1s ease-out;

    &-container {
        position: fixed;
        li {
            background-color: #a3e2ffe8;
        }
        z-index: 10;
        right: 15px;
        bottom: 15px;
    }

    &-button {
        cursor: pointer;
        display: inline-block;
        margin: auto 5px;
        background-color: transparent;
        border: none;
        padding: 1px 6px;
        line-height: 1rem;
        border-radius: 50%;
    }
}

.fade-out {
    animation: toast-fade-out 1s linear;
    transform: translateX(120%);
}

@keyframes toast {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes toast-fade-out {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(120%);
    }
}
