.center{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: antiquewhite; 
}

.btn-container{
    margin-top: 1rem;
}