.section {
    width: 100vw;
    height: 100vh;
    background: azure;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;

    form {
        margin-top: 5rem;
        width: 95%;
        text-align: center;

        input {
            width: 25%;
        }
    }
}

.list {
    margin-top: 3rem;
    list-style: none;
    width: 35%;
    li {
        cursor: grab;
        border: 1px solid black;
        margin: 0.4rem auto;
        padding: 0.2rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        section {
            display: flex;
            // align-items: start;
        }

        button {
            flex-shrink: 0;
            height: 100%;
        }
    }

    p {
        margin-left: 1rem;
    }

    button {
        margin-left: 1rem;
    }
}
