.form {
    display: flex;
    flex-direction: column;
    width: 20rem;

    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        color: antiquewhite;
    }
}

.input {
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.5rem;
}
