.section {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: #ffecec;

    & h1 {
        margin: 0rem auto;
    }
    & h2 {
        margin: 1rem auto;
        padding: 1rem 2rem;
    }

    & div > button {
        margin: auto 1rem;
    }
}
