@import './components/index.scss';

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.section {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
