.navbar {
    margin: 1rem auto;
    position: fixed;
    width: 95%;
    ul {
        display: flex;
        border: 1px solid blue;
        padding: 0.5rem 1.5rem;
        display: flex;
        margin: auto 1rem;
        border-radius: 3rem;
        list-style: none;
        li {
            margin: auto 0.5rem;
            a {
                text-decoration: none;
                color: rgb(0, 136, 255);
                &.active {
                    color: blue;
                }
            }
        }
    }
}
